@mixin flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
$blue: #e7f4ff;
$dark-blue: #0063a9;
* {
  margin: 0;
}
.a {
  cursor: pointer;
  font-weight: bold;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ecffe9;
  box-shadow: 0px 6px 13px -8px rgba(100, 100, 100, 0.44);
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    img {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
  }
}
.home-container {
  @include flex();
  padding-bottom: 50px;
  h1 {
    color: $dark-blue;
    margin: 30px 0;
  }
  form {
    @include flex();
    background-color: white;
    padding: 10px 20px 30px;
    border-radius: 5px;
    margin-top: 20px;
    width: 50%;
    box-shadow: 0px 6px 24px -8px rgba(100, 100, 100, 0.44);
    h2 {
      margin-bottom: 20px;
    }
    label {
      margin-bottom: 10px;
    }
    input,
    select {
      width: 50%;
      height: 30px;
      box-sizing: border-box;
      text-indent: 10px;
      margin-bottom: 20px;
    }
    fieldset {
      @include flex();
      margin: 20px 0;
      width: 50%;
      padding: 10px 5px;
      input,
      select {
        width: 80%;
      }
      legend {
        margin-left: 10px;
        padding: 0 10px;
      }
    }
    button {
      margin-top: 20px;
      width: 200px;
      height: 50px;
      font-size: 20px;

      background-color: $blue;
      border: 1px solid $dark-blue;
      color: $dark-blue;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
#employee-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin: 30px 0;
  }
}

@import "./components/dropdown";
@import "./components/modal/modal";
