* {
  margin: 0;
}

.a {
  cursor: pointer;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ecffe9;
  box-shadow: 0px 6px 13px -8px rgba(100, 100, 100, 0.44);
}

header .logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

header .logo-container img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

.home-container h1 {
  color: #0063a9;
  margin: 30px 0;
}

.home-container form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 10px 20px 30px;
  border-radius: 5px;
  margin-top: 20px;
  width: 50%;
  box-shadow: 0px 6px 24px -8px rgba(100, 100, 100, 0.44);
}

.home-container form h2 {
  margin-bottom: 20px;
}

.home-container form label {
  margin-bottom: 10px;
}

.home-container form .input {
  width: 50%;
  height: 30px;
  box-sizing: border-box;
  text-indent: 10px;
  margin-bottom: 20px;
}

.home-container form fieldset {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  width: 50%;
  padding: 10px 5px;
}

.home-container form fieldset .input {
  width: 80%;
}

.home-container form fieldset legend {
  margin-left: 10px;
  padding: 0 10px;
}

.home-container form .button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: #e7f4ff;
  border: 1px solid #0063a9;
  color: #0063a9;
  border-radius: 5px;
  cursor: pointer;
}

.home-container form .button:hover {
  transform: scale(1.05);
}

.home-container .react-date-picker {
  width: 50%;
  margin-bottom: 20px;
}

.home-container .react-date-picker .react-date-picker__wrapper .react-date-picker__inputGroup {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-container .react-date-picker .react-date-picker__wrapper .react-date-picker__inputGroup .react-date-picker__inputGroup__input {
  min-width: 22px;
  font-size: 12px;
}

.home-container .react-date-picker .react-date-picker__calendar .react-calendar {
  border-radius: 5px;
  padding: 5px;
}

.home-container .react-date-picker .react-date-picker__calendar .react-calendar .react-calendar__viewContainer .react-calendar__decade-view .react-calendar__tile--now {
  background: #ecffe9;
}

.home-container .react-date-picker .react-date-picker__calendar .react-calendar .react-calendar__viewContainer .react-calendar__year-view__months .react-calendar__tile--now {
  background: #ecffe9;
}

.home-container .react-date-picker .react-date-picker__calendar .react-calendar .react-calendar__viewContainer .react-calendar__month-view .react-calendar__month-view__days .react-calendar__tile {
  line-height: 25px;
  padding: 10px;
}

.home-container .react-date-picker .react-date-picker__calendar .react-calendar .react-calendar__viewContainer .react-calendar__month-view .react-calendar__month-view__days .react-calendar__tile--now {
  background: #ecffe9;
  border-radius: 50%;
}

#employee-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#employee-div h2 {
  margin: 30px 0;
}

.cust-dropdown-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  background-color: white;
}

.cust-dropdown-div .cust-input-value {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 2px;
  height: 30px;
  text-indent: 10px;
  box-sizing: border-box;
}

.cust-dropdown-div .cust-input-value .arrow {
  position: absolute;
  top: 5px;
  right: 10px;
}

.cust-dropdown-div .cust-dropdown-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 29px;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  z-index: 999999;
}

.cust-dropdown-div .cust-dropdown-list::-webkit-scrollbar {
  width: 10px;
}

.cust-dropdown-div .cust-dropdown-list::-webkit-scrollbar-thumb {
  background-color: #204a6f;
}

.cust-dropdown-div .cust-dropdown-list li {
  padding: 4px 40px;
  cursor: pointer;
}

.cust-dropdown-div .cust-dropdown-list li:hover {
  background-color: #2377bf;
  color: white;
}

.modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(129, 156, 255, 0.632);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container .modal-content {
  width: 400px;
  height: 150px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-container .modal-content .modal-title {
  display: flex;
  margin-bottom: 20px;
}

.modal-container .modal-content .modal-title .close-modal {
  margin-left: 50px;
  cursor: pointer;
  font-weight: bold;
}
/*# sourceMappingURL=App.css.map */